.helper {
	font-size: 80%;
	display: block;
}

table {
	border: thin solid #808080;
}
caption {
	font-weight: bold;
}
th, td {
	border: thin inset #808080;
	padding: .25em .5em; 
}
legend {
	font-size: 120%;
	padding: .1em .4em;
}

footer {
	border-top: thin solid #808080;
	width: 100%;
	font-size: 80%;
}

.yearSect {
	padding: 0;
	margin: 1em 0 2.5em;
}
.yearSect h4 {
	margin-bottom: 0;
	padding-bottom: 0;
}

.tables-responsive {
	max-width: 95%;
	overflow-x: scroll;
	margin: 0;
	padding: 0.25em 1% .2em;
  	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
 /* Hide scrollbar for Chrome, Safari and Opera */
.tables-responsive::-webkit-scrollbar {
	display: none;
}

.tables-responsive2 {
	max-width: 95%;
	overflow-x: scroll;
	margin: 0;
	padding: 0.25em 1% .2em;
  	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
 /* Hide scrollbar for Chrome, Safari and Opera */
.tables-responsive2::-webkit-scrollbar {
	display: none;
}


::backdrop {
  /*
     background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  */
	background-color: #606060;
  opacity: 0.75;
}

/*   Open state of the dialog  */
dialog[open] {
  opacity: 1;
  transform: scaleY(1);
}

/*   Closed state of the dialog   */
dialog {
  opacity: 0;
  transform: scaleY(0);
  transition:
    opacity 0.7s ease-out,
    transform 0.7s ease-out,
    overlay 0.7s ease-out allow-discrete,
    display 0.7s ease-out allow-discrete;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

/*   Before-open state  */
/* Needs to be after the previous dialog[open] rule to take effect,
    as the specificity is the same */
@starting-style {
  dialog[open] {
    opacity: 0;
    transform: scaleY(0);
  }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition:
    display 0.7s allow-discrete,
    overlay 0.7s allow-discrete,
    background-color 0.7s;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 35%);
}

/* This starting-style rule cannot be nested inside the above selector
because the nesting selector cannot represent pseudo-elements. */

@starting-style {
  dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}

.fieldHolder {
	margin: 1.25em .5em .5em;
}
.fieldHolder label {
	font-weight: bold;
display: block;
}
.fieldHolder input, .fieldHolder select {
	margin: .5em .2em;
}
.small {
	font-size: 80%;
}
#promotionsDiv {
	/*border: thin solid blue;*/
}
.error span, .error p {
	border: 2px solid #AA0000;
	padding: 0.25em .2em;
	margin: .5em 0;
	/*display: block-inline;*/
	color: #AA0000;
	font-weight: bold;
}
.warning span, .warning p {
	border: 2px solid #FF9900;
	padding: 0.25em .2em;
	margin: .5em 0;
	/*display: block-inline;*/
	color: #C05300;
	font-weight: bold;
}

.invisibleStuff {
	position: absolute;
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	margin: 0;
}
.summary {
	display: inline;
	font-size: 150%;
}
details {
    border: thin solid #c0c0c0;
    padding: 0.5em;
    margin: 0 5em 1.35em 0;
}
dl dt{
	display: inline-block;
	min-width: 100px;
	font-weight: bold;
}
dl dd {
	display: inline;
	margin: 0 0 0 1em;
}
dl dd:after{
	display: block;
	content: '';
}

#skipLinks {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#skipLinks > li {
	left: 0;
	position: absolute;
	text-align: center;
	top: 10px;
	width: 100%;
	z-index: 3;
}

#skipLinks > li > a {
	clip: rect(1px,1px,1px,1px);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}
#skipLinks > li > a:focus {
	clip: rect(auto,auto,auto,auto);
	height: inherit;
	margin: inherit;
	overflow: inherit;
	position: static;
	width: inherit;
}

#LangSwitcher {
	margin: 0.8em 5%;
	text-align: right;
}

#payTablesSect details {
	width: 95%;
}

#payTablesSect details summary h3 {
	display: inline;
	padding-left: 0.5em;
}

#payTablesSect details table {
	margin-top: .75em;
}
#payTablesSect details table caption {
	text-align: left;
	margin: 0 0 0.5em 0.5em;
	font-size: 110%;
}

