.helper {
	font-size: 80%;
	display: block;
}

table {
	border: thin solid #808080;
}
caption {
	font-weight: bold;
}
th, td {
	border: thin inset #808080;
	padding: .25em .5em; 
}
legend {
	font-size: 120%;
	padding: .1em .4em;
}

footer {
	border-top: thin solid #808080;
	width: 100%;
	font-size: 80%;
}

.tables-responsive {
	max-width: 95%;
	overflow-x: scroll;
	margin: 0;
	padding: 2em 1%;
}
.fieldHolder {
	margin: 1.25em .5em; .5em;
}
.fieldHolder label {
	font-weight: bold;
display: block;
}
.fieldHolder input, .fieldHolder select {
	margin: .5em .2em;
}
.small {
	font-size: 80%;
}
#promotionsDiv {
	/*border: thin solid blue;*/
}
.error span, .error p {
	border: 2px solid #AA0000;
	padding: 0.25em .2em;
	margin: .5em 0;
	/*display: block-inline;*/
	color: #AA0000;
	font-weight: bold;
}
.invisibleStuff {
	position: absolute;
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	margin: 0;
}
.summary {
	display: inline;
	font-size: 150%;
}
details {
    border: thin solid #c0c0c0;
    padding: 0.5em;
    margin: 0 5em 1.35em 0;
}
dl dt{
	display: inline-block;
	min-width: 100px;
	font-weight: bold;
}
dl dd {
	display: inline;
	margin: 0 0 0 1em;
}
dl dd:after{
	display: block;
	content: '';
}

#skipLinks {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#skipLinks > li {
	left: 0;
	position: absolute;
	text-align: center;
	top: 10px;
	width: 100%;
	z-index: 3;
}

#skipLinks > li > a {
	clip: rect(1px,1px,1px,1px);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}
#skipLinks > li > a:focus {
	clip: rect(auto,auto,auto,auto);
	height: inherit;
	margin: inherit;
	overflow: inherit;
	position: static;
	width: inherit;
}

#LangSwitcher {
	margin: 0.8em 5%;
	text-align: right;
}

#payTablesSect details {
	width: 95%;
}

#payTablesSect details summary h3 {
	display: inline;
	padding-left: 0.5em;
}

#payTablesSect details table {
	margin-top: 2em;
}
#payTablesSect details table caption {
	text-align: left;
	margin: 0 0 0.5em 0.5em;
	font-size: 110%;
}

