.helper {
	font-size: 80%;
	display: block;
}

table {
	border: thin solid #808080;
}
caption {
	font-weight: bold;
}
th, td {
	border: thin inset #808080;
	padding: .25em .5em; 
}
legend {
	font-size: 120%;
	padding: .1em .4em;
}

footer {
	border-top: thin solid #808080;
	width: 100%;
	font-size: 80%;
}

#resultsDiv {
	max-width: 95%;
overflow-x: scroll;
margin: 0;
padding: 2em 1%;
}
.fieldHolder {
	margin: .5em .5em;
}
.fieldHolder label {
	font-weight: bold;
display: block;
}
.fieldHolder input, .fieldHolder select {
	margin: .5em .2em;
}
.small {
	font-size: 80%;
}
#promotionsDiv {
	/*border: thin solid blue;*/
}
.error span, .error p {
	border: 2px solid #AA0000;
	padding: 0.25em .2em;
	margin: .5em 0;
	/*display: block-inline;*/
	color: #AA0000;
	font-weight: bold;
}
.promotions {
	border: thin solid green;
}
.invisibleStuff {
		position: absolute;
		height: 1px;
		width: 1px;
		clip: rect(1px, 1px, 1px, 1px);
		overflow: hidden;
		margin: 0;
	}

